@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik:wght@300&display=swap');
.Stdigital-container {
   font-family: 'Roboto';
   display: flex;
   justify-content: center;
   text-align: left;
   margin: 10px auto;

   .Stdigital-container-block {
      max-width: 1220px;
      margin-left: 30px;
      padding: 40px 0px 0px 40px;

      .Stdigital-title-top {
       
         .Stdigital-title-row{
            .Stdigital-title{
               .Stdigital-title-head{
                  font-weight: bold !important;
                  font-size: 30px;
                  line-height: 38px;
               }
            }
         }
      }

      .Stdigital-section-content {
         .Stdigital-section {
            .Stdigital-page-main {
               .Stdigital-content-text {
                  margin-bottom: 100px;
                  width: 1140px;

                  p {
                     strong {
                        font-weight: 900;
                     }
                  }
               }

               .Stdigital-module-three-columns {
                  .Stdigital-module {
                     .module-item {
                        .module-block {
                           display: flex;

                           .block-icon {
                              padding: 0px 20px 0px 0px;
                           }

                           .block-content {
                              .h1-content {
                                 font-size: 20px;
                                 line-height: 28px;
                                 font-weight: bold !important;

                              }

                              p {
                                 text-align: left;
                              }
                           }

                        }

                     }
                  }

                  .Stdigital-module-2 {
                     margin-top: 50px;
                     margin-bottom: 20px;

                     .Stdigital-meet-our-team {
                        .Stdigital-meet-our-team-title {
                           h1 {
                              font-size: 18px;
                              line-height: 22px;
                              margin: 0 0 20px;
                              font-weight: bold !important;
                           }

                        }
                     }
                  }

                  .Stdigital-module-block {

                     .Stdigital-module-3 {
                        .Stdigital-list-user {
                           padding-left: 0;
                           padding-right: 0;

                           .Stdigital-wrapper-list {
                              box-sizing: border-box;
                              padding-left: 15px;
                              padding-right: 15px;
                              width: 100%;

                              .Stdigital-wrapper-list-user {
                                 img {
                                    height: auto;
                                    max-width: 100%;

                                 }

                                 p {
                                    text-align: center;

                                    strong {
                                       font-weight: bold !important;
                                    }
                                 }

                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}