@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300;1,400&display=swap');
.green {
  border: 1px solid green
}

.red {
  border: 1px solid red
}

.fe02-container {
  padding: 0 9vw;
  background-color: rgba(0,0,0,0.01);;
  height: 100%;

  .fe02-container__wpb {
    width: 100%;
    height: 100%;

    .fe02-container__wpb__inner {
      padding: 0 10px;

      .fe02-wpb__wrapper {
        width: 100%;

        .fe02-textcenter {
          font-family: 'Roboto', sans-serif;
          padding-top: 55px;
          max-height:35vh;

          h2 {
            font-size: 24px;
            margin-bottom: 10px;
            font-weight: 500;
            text-align: center;
          }

          h3 {
            font-size: 16px;
            margin-bottom: 20px;
            text-align: center;
            font-weight: 300;
            justify-content: center;
          }
        }

        .fe02-emptyspace {
          height: 10px;
        }
      }
    }
  }
}